package ${packageName}.bean;
#macro(initUpperCase $field)
$field.toUpperCase().substring(0,1)$field.substring(1)##
#end

import java.io.Serializable;
#foreach ($element in $importSet)
import $element;
#end

public class $className implements Serializable{
#foreach ($element in $map.entrySet())
  private $element.value $element.key;
#end
  public $className(){

  }
#foreach ($element in $map.entrySet())
  public $element.value get#initUpperCase($element.key)(){
     return $element.value;
  }
  public void set#initUpperCase($element.key)($element.value $element.key){
     this.$element.key = $element.key;
  }
#end

  @Override
  public String toString() {
    final StringBuilder sb = new StringBuilder("$className{");
#foreach ($element in $map.entrySet())
    sb.append("$element.key='").append($element.key=).append('\'');
#end
    return sb.toString();
  }
}
